/code/xingkong/.settings/
/code/xingkong/target/
/code/xingkong/bin/
/code/xingkong/.classpath
/code/xingkong/.project


/code/device-backend/gulp/node_modules/*/
/code/device-backend/gulp/package-lock.json
/code/device-backend/node_modules/*/
/code/device-backend/package-lock.json


/code/device-backend/.settings/
/code/device-backend/target/
/code/device-backend/bin/
/code/device-backend/.classpath
/code/device-backend/.project